.guide-header-enter {
  opacity: 0;
}

.guide-header-enter-active {
  display: flex;
  opacity: 1;
}

.guide-header-enter-done {
  display: flex;
  opacity: 1;
}

.guide-image-enter {
  height : 100vh;
}
.guide-image-enter-active {
  height : 300px;
  transition: all 2s;
}

.guide-image-enter-done {
  height : 300px;
}
.guide-image-exit {
  height : 300px;
}
.guide-image-exit-active {
  height : 100vh;
  transition: all 2s;
}
.guide-image-exit-done {
  height : 100vh;
}

.hidden-opacity-enter {
  opacity: 0;
  display: none;
}
.hidden-opacity-enter-active {
  opacity: 1;
  transition: all 1s;
  display: block;
}

.hidden-opacity-enter-done {
  opacity: 1;
}

.hidden-opacity-exit {
  opacity: 1;
}
.hidden-opacity-exit-active {
  opacity: 0;
  transition: all 2s;
}
.hidden-opacity-exit-done {
  opacity: 0;
  display: none;
}



